/* ----------------------------Whole page---------------------*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
#bloc_page {
    max-width: 1440px;
}

/* ---------------------------Nav Bar------------------------*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: stretch;
    padding-left: 1rem;
  }
  .brand{
      padding-left: 2rem;
  }
  .nav-menu {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      
  }
  .nav-menu a {
      padding-right: 2rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-top: 1rem;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
  }

  .nav-menu a:hover{
      border-top: 3px solid #0065FC;
      transition-duration: 0.2ms;
      color: #0065FC;
  }
  
a{
    text-decoration: none;
    color: black;
}


.header-sign-up{
        color: #0065FC;
    }


   /* -----------------------------Search Bar----------------------------*/
.search{
    margin-top: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    
}
.location-icon{
   padding: 0.7rem;
   padding-right: 0.5rem;
   padding-left: 1rem;
   padding-top: 0.55rem;
    background-color: #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
    text-align: center;
   }
   .search-bar{
    min-height: 2.42rem;
    text-align: center;
    border-top: #F2F2F2 1px solid;
    border-bottom:  #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    min-width: 25ch;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    }
    .submit-button{
        min-height: 2.42rem;
        text-align: center;
        border-radius: 0 0.8rem 0.8rem 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
        padding-top: 0rem;
        background-color: #0065FC;
        border-color: #0065FC;
        border: none;
        color: white;
        cursor: pointer;
        margin-left: -0.4rem;
    }
    .submit-button:hover{
        transform: scale(1.03);
    }
    .loupe{
        display: none;
    }

/* ---------------------------------   Filtres  -----------------------*/

.filtres-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtre{
    padding-right: 1rem;
    
    border-radius: 2em 2em 2em 2em;
    border: lightgray 2px solid;
    margin: 0.25rem;  
    font-weight: 500;
    cursor: pointer;
}
.filtre:hover {
    background-color:#DEEBFF;
    font-weight: bold;
    transform: scale(1.03);
    
}
.filtre:hover .filtre__icon{
    background-color: #0065FC;
    color: #DEEBFF;
    transform: scale(1.03);
}
.filtre__icon{
    text-align: center;
    border-radius: 100%;
    padding: 1em;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 1rem;
    margin-top: -3px;
    margin-left: -3px;
    margin-bottom: -3px;
}

.info{
    color: #0065FC;
    border: lightgray 0.5px solid;
    border-radius: 100%;
    padding-right: 0.8em;
    padding-left: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.8rem;    
}
.i-info{
    align-items: center;
}
/*------------------------------------hostings------------------------------------*/
.hebergement-background{
    margin: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.25rem; 
    padding: 1rem;
}
.title-background{
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.hosting-main{
    display: flex;
    flex-wrap: wrap;
    
}

.card-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    border: white 3px solid;
    box-shadow: 5px 5px 10px rgb(177 177 177);
    height: 15rem;
    max-width: 27%;
    
}

.card-main__img{
    height: 8rem;
    width: 100%;
}
.card-main__img img {
    height: 100%;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}
.card-main:hover{
    transform: scale(1.03);
}
.card-main h4, p {
    line-height: 0.75rem;
    flex-wrap: wrap;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*------------------------------------ratings------------------------------------*/

.true{
    color: #0065FC;
    padding-bottom: 0.5rem;
}
.false{
    color: lightgray;
}
.rating{
    padding-left: 0.4rem;
}
/*--------------------------------------pop--------------------------------------*/
.pop-background{
    margin: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.25rem; 
    padding: 1rem;
    min-width: 30%;
}
.title-pop{
    display: flex;
    justify-content: space-between;
}

.hosting-pop{
    display: flex;
    flex-wrap: wrap;

}

.card-pop{
    height: 8rem;
    max-width: 21rem;
    min-width: 12rem;
    margin: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    border-top: white 4px solid;
    border-left: white 4px solid;
    border-right: white 4px solid;
    box-shadow: 5px 5px 10px rgb(177 177 177);
    display: flex;
    
}
.card-pop:hover{
    transform: scale(1.03);
}

.card-pop p, h4 {

    flex-wrap: wrap;
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    line-height: 0.75rem;
}
.card-pop__img {
    height: 98%;
    max-height: 9rem;
    width: 37%;
    min-width: 33%;
}
.card-pop__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.25rem 0 0 1.25rem;
}
/*----------------------------------ACTIVITIES---------------------------------------*/
.title-act{
    padding-left: 3rem;
}
.hero-act{
    padding: 1rem;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
}
.hero-act__2blocs{
    display: flex;
    flex-direction: column;
}
.card-act{
    height: 10rem;
    max-width: 20rem;
    min-width: 10rem;
    margin: 1rem;
    background-color: white;
    border-radius: 1.25rem;
   
    box-shadow: 5px 5px 10px rgb(177 177 177);
}
.card-act--vertical{
    height: 22rem;
}
.card-act__img{
    height: 75%;
    width: 100%;
}
.card-act img{
    height: 100%;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    }
    
    .card-act:hover{
        transform: scale(1.03);
    }
    .card-act h4 {
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
       
        font-size: 0.8rem;
        }

    /*----------------------------------FOOTER---------------------------------------*/
    footer {

        background-color: #F2F2F2;
        display: flex;
        justify-content: space-around;
    }
    .footer {
        display: flex;
        flex-direction: column;
        
    }
    .footer a{
       
        font-size: 0.8rem;
    }
    .footer a:hover{
        color: #0065FC;
    }

/* -----------------------------------Media Queries---------------------------*/
/* Large devices (large desktops, more than 1200px)*/
@media screen and (min-width: 1199.98px){
    
    .hosting{
        display: flex;
        flex-direction: row;
    }
    
    .pop-background{
        display: flex;
        flex-direction: column;
        width: 39%;
    }
}
/* Large devices (desktops, less than 1200px))*/
@media screen and (max-width: 1199.98px){
    
    .hosting{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hebergement-background{
        order: 1;    
    }
    .hosting-pop{
        flex-wrap: nowrap;
    }

    .card-pop{
        max-width: 29%;
        min-width: 25%;
    }
}

/*Small devices (landscape phones, less than 880)*/
@media screen and (max-width: 879.98px){
    .hosting-pop{
        flex-wrap: wrap;
    }
    .card-pop{
        min-width: 90%;
    }   
    .hero-act{
        flex-wrap: wrap;
    }
    
}



/*X-Small devices (portrait phones, less than 588px)*/
@media screen and (max-width: 587.98px) {
    
    .nav-menu{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
    }
    .brand{
        height: 50%;
        width: 50%;
    }
    .hebergements{
        width: 50%;
        
    }
    .activites{
        width: 50%;
    }
    .header-sign-up{
        width: 50%;
    }
    .hebergements-activites{
        order: 1;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
    }
    .nav-menu a:hover{
        border-top: 3px solid white;
        border-bottom: 3px solid #0065FC;
      transition-duration: 0.2ms;
    }
    .submit-button{
        border-radius: 0.8rem;
    }
    .rechercher{
        display: none;
    }
    .loupe{
        display: inline;
    }
    .hebergement-background{
        background-color: white;
        margin: 0;
    }
    .hosting-pop{
        flex-wrap: wrap;
    }
    .pop-background{
        border-radius: 0%;
        margin: 0;
    }
    .card-pop{
        min-width: 90%;
    }   
    .card-main{
        min-width: 90%;
    }
    
    .hero-act{
        flex-wrap: wrap;
    }
    .card-act{
        min-width: 60%;
        max-height: 11rem;
    }
    .hero-act__2blocs{
        min-width: 90%;
    }
    footer{
        margin: 0;
        flex-direction: column;
        padding: 2rem;
        font-size: 1.2rem;
    }
}

/*XX-Large devices (larger desktops))
    No media query since the xxl breakpoint has no upper bound on its width)*/


    