/* ----------------------------Whole page---------------------*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 1401px;
    align-self: center;
}

/* ----------------------------Nav Bar------------------------*/

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: stretch;
    padding-left: 1rem;
  }
  .brand{
      padding-left: 2rem;
  }
  .nav-menu{
      display: flex;
      justify-content: space-between;
      text-align: center;
      
  }
  .nav-menu a {
      padding-right: 2rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-top: 1rem;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
  }

  .nav-menu a:hover{
      border-top: 3px solid #0065FC;
      transition-duration: 0.2ms;
      color: #0065FC;
  }
  
a{
    text-decoration: none;
    color: black;
}


.header-sign-up{
        color: #0065FC;
    }


   /* -----------------------------Search Bar----------------------------*/
.search{
    margin-top: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    
}
.location-icon{
   padding: 0.7rem;
   padding-right: 0.5rem;
   padding-left: 1rem;
   padding-top: 0.55rem;
    background-color: #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
    text-align: center;
   }
   .search-bar{
    min-height: 2.42rem;
    text-align: center;
    border-top: #F2F2F2 1px solid;
    border-bottom:  #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    min-width: 25ch;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    }
    .submit-button{
        min-height: 2.42rem;
        text-align: center;
        border-radius: 0 0.8rem 0.8rem 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
        padding-top: 0rem;
        background-color: #0065FC;
        border-color: #0065FC;
        border: none;
        color: white;
        cursor: pointer;
        margin-left: -0.4rem;
        
    }
    .submit-button:hover{
        transform: scale(1.03);
    }

/* ---------------------------------   Filtres  -----------------------*/
.filtres-section h3{
    padding-right: 2rem;
}
.filtres-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtre{
    padding-right: 1rem;
    border-radius: 2em 2em 2em 2em;
    border: lightgray 2px solid;
    margin-right: 1rem;  
    font-weight: 500;
    cursor: pointer;
}
.filtre:hover {
    background-color:#DEEBFF;
    font-weight: bold;
    transform: scale(1.03);
    
}
.filtre__icon:hover{
    background-color: #0065FC;
    color: #DEEBFF;
    transform: scale(1.03);
}
.filtre__icon{
    text-align: center;
    border-radius: 100%;
    padding: 1em;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 1rem;
    margin-top: -3px;
    margin-left: -3px;
    margin-bottom: -3px;
}

.info{
    color: #0065FC;
    border: lightgray 0.5px solid;
    border-radius: 100%;
    padding-right: 0.5em;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 0.8rem;
}
/*------------------------------------hostings------------------------------------*/
.hebergement-background{
    margin: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.25rem; 
    padding: 1rem;
}
.title-background{
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.hosting-main{
    display: flex;
    flex-wrap: wrap;
}

.card-main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    line-height: 0.25rem;
    border: white 3px solid;
    box-shadow: 5px 5px 10px rgb(177 177 177);
    max-height: 15rem;
    max-width: 29%;
    
}
.card-main:hover{
    transform: scale(1.03);
}
.card-main h4,p {
    padding-left: 0.4rem;
}

.card-main img {
    width: 100%;
    height: 9rem;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}
/*------------------------------------ratings------------------------------------*/

.true{
    color: #0065FC;
    padding-bottom: 0.5rem;
}
.false{
    color: lightgray;
}
.rating{
    padding-left: 0.4rem;
}
/*--------------------------------------pop--------------------------------------*/
.pop-background{
    margin: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.25rem; 
    padding: 1rem;
}
.title-pop{
    display: flex;
    justify-content: space-between;
}

.hosting-pop{
    display: flex;
    flex-wrap: wrap;  
}

.card-pop{
    max-height: 12rem;
    max-width: 22rem;
    margin: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    border-top: white 4px solid;
    border-left: white 4px solid;
    border-right: white 4px solid;
    box-shadow: 5px 5px 10px rgb(177 177 177);
    display: flex;
    
}
.card-pop:hover{
    transform: scale(1.03);
}

.card-pop h4,p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 0.25rem;
}
.card-pop__img {
    height: 98%;
    width: 33%;
}
.card-pop__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.25rem 0 0 1.25rem;
}

.info-pop .rating{
    margin-top: 5rem;
}
/*----------------------------------ACTIVITIES---------------------------------------*/
.title-act{
    padding-left: 3rem;
}
.hero-act{
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    
}
.hero-act__2blocs{
    display: flex;
    flex-direction: column;
}
.card-act{
    height: 10rem;
    width: 14rem;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    line-height: 0.25rem;
    box-shadow: 5px 5px 10px rgb(177 177 177);
}
.card-act--vertical{
    height: 22rem;
    width: 14rem;
}
.card-act__img{
    height: 75%;
    width: 100%;
}
.card-act img{
    height: 100%;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    }
    
    .card-act:hover{
        transform: scale(1.03);
    }
    .card-act h4 {
        padding: 0.5rem;
        line-height: 0.25rem;
        font-size: 0.8rem;
        }

    /*----------------------------------FOOTER---------------------------------------*/
    footer {
        min-width: 100%;
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-around;
    }
    .footer {
        display: flex;
        flex-direction: column;
        
    }
    .footer a{
        line-height: 1.5rem;
        font-size: 0.8rem;
    }
    .footer a:hover{
        color: #0065FC;
    }

/* -----------------------------------Media Queries---------------------------*/
/* X-Large devices (large desktops, less than 1400px))*/
@media (max-width: 1399.98px)

/* Large devices (desktops, less than 1200px))*/
@media (max-width: 1199.98px)

/* Medium devices (tablets, less than 992px))*/
@media (max-width: 991.98px) 

/* Small devices (landscape phones, less than 768px))*/
@media (max-width: 767.98px)

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)









/* XX-Large devices (larger desktops))
    No media query since the xxl breakpoint has no upper bound on its width)*/


    